<div class="container pad-top">
	<table>
		<tr>
			<td>
				<div id="1" style="width: 300px; height: 200px;"></div>
			</td>
			<td>
				<div id="2" style="width: 300px; height: 200px;"></div>
			</td>
			<td>
				<div id="3" style="width: 300px; height: 200px;"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div id="4" style="width: 300px; height: 200px;"></div>
			</td>
			<td>
				<div id="5" style="width: 300px; height: 200px;"></div>
			</td>
			<td>
				<div id="6" style="width: 300px; height: 200px;"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div id="7" style="width: 300px; height: 200px;"></div>
			</td>
			<td>
				<div id="8" style="width: 300px; height: 200px;"></div>
			</td>
			<td>
			</td>
		</tr>
	</table>
</div>