<div class="container pad-top">
	<div>
		<a class="btn-primary btn-lg nodecoration"
			ui-sref="pendingFeedback({username:currentUsername})">Return to pending feedback</a> 
		<a class="btn-primary btn-lg nodecoration"
			ui-sref="feedbackChart({username:currentUsername, id:feedback.id})">View as a chart</a>
	</div>
	
	<br><br>
	
	<div>
		<table class="table categorytable" >
			<thead>
				<tr>
					<th>Category name</th>
					<th>Category rating</th>
					<th>Argument</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="rating in feedback.ratings">
					<td><b>{{rating.category.name}}</b></td>
					<td>{{rating.score}}</td>
					<td>{{rating.message}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
