<div class="container pad-top">
	<div>
		<a ui-sref="pendingFeedback({username:currentUsername})" class="btn-primary btn-lg nodecoration">Return
			to pending feedback</a>
		<a class="btn-primary btn-lg nodecoration"  ui-sref="teamFeedbackChart({username:currentUsername})">View all scores as chart</a>
	</div>
	
	<br><br>
	
	<div>
		<table class="table categorytable">
			<thead>
				<tr>
					<th>Name</th>
					<th>Surname</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="feedback in feedbacks">
					<td>{{feedback.givenBy.name}}</td>
					<td>{{feedback.givenBy.surname}}</td>
					<td>{{feedback.givenAt}}</td>
					<td><a class="btn btn-primary"
						ui-sref="viewFeedback({id:feedback.id, username:currentUsername})">View</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

