<div class="container pad-top">
	<div>
		<a ui-sref="pendingFeedback({username:currentUsername})" class="btn-primary btn-lg nodecoration">Return
			to pending feedback</a>
	</div>
	
	<br><br>
	
	<div>
		<table class="table categorytable" >
			<thead>
				<tr>
					<th>Category name</th>
					<th>Category rating</th>
					<th>Argument</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="rating in feedback.ratings">
					<td><b>{{rating.category.name}}</b></td>
					<td>{{rating.score}}</td>
					<td>{{rating.message}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
